@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Happy Monkey', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}